#home{
    height: 100vh;
}

.home_img{
    height: 20rem;
    width: 40rem;
    border-radius: 6px;
    /* top: 50%;
    left: 50%;
    transform: translate(50%, 50%); */
}

.home__page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.nav__bar{
    position: relative;
}